# Assignment 5
### Parker Christenson

#### `Customer Segmentation Analysis with Boltzmann Machines Based on Online Retail Shopping Habits`


___
1. Load the Online Retail II dataset and clean the data by removing incomplete entries. 

2. Preprocess the data by encoding categorical data and scaling numerical features to normalize the range of data values.

3. Transform the data into a suitable format where each customer's shopping habits over time are captured in a binary formatâ€”purchased or not purchased.

4. Train your Boltzmann machine using the training set with the goal of learning the underlying probability distribution of the data.

In [3]:
# standard libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import fastexcel
import polars as pl

# Machine learning libs 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, classification_report 
import tensorflow as tf

In [7]:
df = pd.read_excel('online_retail_II.xlsx')

ImportError: Pandas requires version '3.1.0' or newer of 'openpyxl' (version '3.0.10' currently installed).

In [13]:
# checking for missing values
df.isnull().sum()

Invoice         10209
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [14]:
# getting the len of the df
len(df)

525461

In [15]:
# getting the data types of the df  
df.dtypes

Invoice               float64
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ms]
Price                 float64
Customer ID           float64
Country                object
dtype: object

In [16]:
# getting the unique counts of the customer id
df['Customer ID'].nunique()

4383

In [17]:
# dropping all null customer ids
df = df.dropna(subset=['Customer ID'])

# checking the null values again
df.isnull().sum()

Invoice        9839
StockCode         0
Description       0
Quantity          0
InvoiceDate       0
Price             0
Customer ID       0
Country           0
dtype: int64

In [18]:
# dropping the invoice column
df = df.drop('Invoice', axis=1)

In [19]:
# getting the unique counts of the country column
df['Country'].nunique()

37

In [20]:
# making a calculated column of the quantity * price
df['total'] = df['Quantity'] * df['Price']

df.head()

,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,total
0,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4
1,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
2,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
3,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8
4,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0

In [23]:
df_len = len(df)
df_cust = df['Customer ID'].nunique()

print(f'The total number of rows in the dataset is {df_len} and the total number of unique customers is {df_cust}')
print(f'which means that there are {df_len - df_cust} duplicate customers')

The total number of rows in the dataset is 417534 and the total number of unique customers is 4383
which means that there are 413151 duplicate customers

In [24]:
# getting the min and the max of the total column
min_total = df['total'].min()
max_total = df['total'].max()

print(f'The minimum total is {min_total} and the maximum total is {max_total}')

The minimum total is -25111.09 and the maximum total is 15818.4

In [26]:
# getting the count of the negative totals
neg_total = df[df['total'] < 0]['total'].count()

print(f'The total number of negative totals is {neg_total}')

The total number of negative totals is 9839

In [27]:
# dropping all of the negative totals
df = df[df['total'] > 0]

In [28]:
# now we are going to encode the categorical columns
df = pd.get_dummies(df, columns=['Description', 'StockCode', 'Country'], drop_first=True)

## Building the model with boltzmann machines using tensorflow

In [29]:
# importing the libraries for the boltzmann machine
from keras.layers import Dropout
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU, PReLU, ELU

In [30]:
# numpy array
data = df.values

# splitting the data 
train_data, test_data = train_test_split(data, test_size=0.2, random_state=42)

# base model parameters
num_visible = train_data.shape[1]
num_hidden = 64

In [ ]:
# Placeholders for input data
X = tf.placeholder(tf.float32, [None, num_visible])

# Initialize weights and biases
W = tf.Variable(tf.random_normal([num_visible, num_hidden], stddev=0.01))
bh = tf.Variable(tf.zeros([num_hidden]))
bv = tf.Variable(tf.zeros([num_visible]))

In [32]:
# Initialize weights and biases
W = tf.Variable(tf.random_normal([num_visible, num_hidden], stddev=0.01))
bh = tf.Variable(tf.zeros([num_hidden]))
bv = tf.Variable(tf.zeros([num_visible]))

AttributeError: module 'tensorflow' has no attribute 'random_normal'